/* common */

.popoverContent {
  padding: 0;
  border-radius: 32px;
  background: var(--color-surface-tertiary-inverse);
  color: var(--color-text-foreground-inverse);
}

.container {
  width: 350px;
}

.genericText {
  font-family: Inter, sans-serif;
  font-size: 24px;
}

/* pairing */

.pairingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px 30px;
}

.pairingHeader {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.83;
  letter-spacing: -0.573px;
  margin-bottom: 9px;
  color: var(--color-text-foreground-inverse);
}

.scanCallToAction {
  font-family: Inter, sans-serif;
  color: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 15px;
}

.qrContainer {
  background: hsl(var(--general-muted));
  border-radius: 20px;
}

.pairingDescription {
  font-family: Inter, sans-serif;
  width: 300px;
  color: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  margin-top: 20px;
}

/* loader */

@keyframes loader {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.loaderLogo {
  width: fit-content;
  height: fit-content;
  animation: loader 3s linear infinite;
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  box-sizing: border-box;
}

.loaderHeader {
  color: var(--color-text-foreground-inverse);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 22px;
  line-height: 1.5; /* 183.034% */
  letter-spacing: -0.526px;
}

.loaderText {
  color: var(--color-text-foreground-inverse);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 29.203px;
  font-style: normal;
  font-weight: 400;
  line-height: 53.452px; /* 183.034% */
  letter-spacing: -0.526px;
}

/* finished */

.finishedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 70px;
}

.finishedLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.finishedLogoSeparator {
  width: 1px;
  height: 24px;
  background: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
}

.finishedLogoTitle {
  color: var(--color-text-foreground-inverse);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 23.017px */
  letter-spacing: -0.329px;
}

.finishedWelcome {
  margin-top: 54px;
  color: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
  font-family: Inter, sans-serif;
  font-size: 18.39px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.585px; /* 150% */
  letter-spacing: 1.947px;
  text-transform: uppercase;
}

.finishedUsername {
  color: var(--color-text-foreground-inverse);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 32.882px;
  font-style: normal;
  font-weight: 400;
  line-height: 60.185px; /* 183.034% */
  letter-spacing: -0.593px;
}

.finishedVoucher {
  flex-grow: 1;
}

.finishedButton {
  display: flex;
  flex-direction: column;
  width: 262px;
}

/* error */
.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  padding: 40px 30px;
}

.errorTitle {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.83;
  letter-spacing: -0.573px;
  margin-bottom: 9px;
  color: var(--color-text-foreground-inverse);
}

.genericText {
  font-family: Inter, sans-serif;
  font-size: 24px;
  color: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
}

.popoverContainer {
  width: 280px;
}

.pairingPopoverHeader {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.573px;
  margin-bottom: 15px;
  color: var(--color-text-foreground-inverse);
}

.scanCallToActionPopover {
  font-family: Inter, sans-serif;
  color: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  margin: 15px 0 10px;
}

.pairingDescriptionPopover {
  font-family: Inter, sans-serif;
  color: var(--color-text-foreground-inverse, hsl(var(--muted-foreground)));
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

.errorContainerPopover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 50px 20px;
  min-height: 250px;
}

.pairingPopoverContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 25px 20px;
}

.errorTitlePopover {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.573px;
  margin-bottom: 10px;
  color: var(--color-text-foreground-inverse);
}

.errorGenericText {
  font-family: Inter, sans-serif;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.573px;
  margin-bottom: 20px;
  color: var(--color-text-foreground-inverse);
}

.loaderContainerPopover {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  padding: 20px;
}

.loaderText {
  color: var(--color-text-foreground-inverse);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.526px;
}
