# Logs
logs
*.log
npm-debug.log*

node_modules
*.local

# Env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.rtk
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.nx/cache
.nx/workspace-data
.experiments
.github/instructions/nx.instructions.md
.cursor/rules/nx-rules.mdc
vite.config.*.timestamp*
vitest.config.*.timestamp*

packages/*/dist

storybook-static

docs/superpowers/
